#items {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

img {
    height: 10rem;
    object-fit: cover;
}

.qtty {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    margin-bottom: 1rem;
    border-bottom: 1px solid gainsboro;
}

#cart {
    padding: 1rem;
    height: 20rem;
    border: 1px solid rgba(128, 128, 128, 0.432);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}