#items {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

img {
    height: 10rem;
    object-fit: cover;
}

.qtty {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#cart {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    flex-direction: column;
    height: 20rem;
    background-color: rgba(127, 255, 212, 0.452);
}